h1 { 
    text-align: center;
}

.inputBoxes {
    display: flex;
    justify-content: space-evenly;
}

input
{
    font-size:24px;
    height:50px;
    width:50px;
    text-align:center;
}

.buttons
{
    display: flex;
    justify-content: center;
}

.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}


h3{
    font-family: 'Righteous', cursive;
    color:#abf2ee;
}

h1{
    font-family: 'Patua One', cursive;
    border: double #ffb5ea 15px;
}

button {
    font-family: 'Comfortaa', cursive;
    color: whitesmoke;
    background-color: #ffb5ea;
}

html{
    background: radial-gradient(#42f4ad, #bebcff, #ffb5ea);
    
}

h4{
    color:#abf2ee;
}

h1{
    color:whitesmoke;
}